<header class="dark:bg-slate-900e-900">
  <nav
    class="dark:bg-slate-900 relative flex w-full items-center justify-between bg-white py-2 text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700  dark:text-neutral-200 md:flex-wrap md:justify-start"
    data-te-navbar-ref>
    <div class="flex w-full flex-wrap items-center justify-between px-3">
      <div class="flex items-center">
        <button
          class="border-0 bg-transparent px-2 text-xl leading-none transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:hidden"
          type="button"
          data-te-collapse-init
          data-te-target="#navbarSupportedContentY"
          aria-controls="navbarSupportedContentY"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="[&>svg]:w-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-7 w-7">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </span>
        </button>
      </div>

      <div
        class="inline-flex items-center justify-between gap-2 w-full px-4"
        id="navbarSupportedContentY"
        data-te-collapse-item>
        <ul
          class="mr-auto flex flex-col lg:flex-row"
          data-te-navbar-nav-ref>
          <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
            <a [routerLink]='["/settings"]'
              class="block transition duration-150 ease-in-out hover:text-red-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
              data-te-nav-link-ref
              data-te-ripple-init
              data-te-ripple-color="light"
            >Настройки</a>
          </li>
          <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref *ngIf="settings.charts">
            <button (click)="toggle()"
              class="block transition duration-150 ease-in-out hover:text-red-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
              data-te-nav-link-ref
              data-te-ripple-init
              data-te-ripple-color="light"
            >Графики</button>
          </li>
          <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
            <a [routerLink]="['/chart']"
              class="block transition duration-150 ease-in-out hover:text-red-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
              data-te-nav-link-ref
              data-te-ripple-init
              data-te-ripple-color="light"
            >График</a>
          </li>
        </ul>

        <div class="inline-flex items-center gap-4" *ngIf="device">
          <span>#{{device.deviceMac}}</span>
          <span>{{device.mac}}</span>
          <span>{{device.ip}}</span>
          <span>{{device.rssi}}</span>
          <span>{{device.signalQuality}}</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" [ngClass]="{'text-red-600':device.signalQuality < 40, 'text-orange-600':device.signalQuality > 40 && device.signalQuality < 60, 'text-green-600':device.signalQuality > 60}">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.348 14.652a3.75 3.75 0 0 1 0-5.304m5.304 0a3.75 3.75 0 0 1 0 5.304m-7.425 2.121a6.75 6.75 0 0 1 0-9.546m9.546 0a6.75 6.75 0 0 1 0 9.546M5.106 18.894c-3.808-3.807-3.808-9.98 0-13.788m13.788 0c3.808 3.807 3.808 9.98 0 13.788M12 12h.008v.008H12V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
          </svg>
        </div>
      </div>
    </div>
  </nav>

</header>
